<div class="chat-box">
    <div class="message user">
        <div class="message-content">{{userMessage}}</div>
    </div>

    <div class="message assistant">
        <div class="message-content">{{assistantMessage}}</div>
    </div>
</div>

<form action="" method="post">
    <div class="input-group">
        <input type="text" name="userInput" id="" class="form-control" placeholder="" aria-describedby="helpId">
        <div class="input-group-append">
            <button class="btn btn-primary" type="submit">Send</button>
        </div>
    </div>
</form>